* {
  font-family: 'Merriweather', serif;
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/background2.png);
  background-color: green;
  width: 100%;
  margin: 0;
  border: 8px groove beige;
}

main {
  background-color: #fdfd93c3;
  padding-bottom: 40px;
  width: 100%;
}

/* Decoration Section */

.frame {
  padding-top: 50px;
}

.main-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  /* border: blue solid 2px; */
}

h1, h2, h3 {
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

h4 {
  padding: 0px;
  font-size: 1.8em;
}

p {
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
}

.lg-text {
  font-size: 1.6rem;
  margin-top: 7px;
  transition: .5s;
}

/* POSITION/SPACING */

.center, .center2 {
  text-align: center;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.align-right {
  align-items: right;
}

.padding-top {
  padding-top: 100px;
}

.indent {
  padding-left: 100px;
}

.thirtyPerc {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.fourtyPerc {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.fiftyPerc {
  width: 48.5%;
  display: inline-block;
  vertical-align: middle;
}

.sixtyPerc {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
}

.seventyPerc {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
}

.ninetyPerc {
  width: 92%;
  margin: auto;
}

.fourtyPerc2 {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.fourtyPerc3 {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.fiftyPerc2 {
  width: 48.5%;
  display: inline-block;
  vertical-align: middle;
}

/* COLOR */

.shadow {
  text-shadow: 0 0 2px black;
}

.black {
  color: black;
}

.gray {
  color: rgb(95, 95, 95);
}

.blue {
  color: rgb(0, 0, 0);
}

.blue-hover:hover p {
  color:rgb(0, 0, 0);
  transition: .5s;
  margin-top: 1.5px;
}

.blue-hover:hover img {
  max-width: 420px;
  transition: .5s;
}

.green {
  color: rgb(0, 0, 0);
}

.green-hover:hover p {
  color: rgb(0, 0, 0);
  transition: .5s;
  margin-top: 1.5px;
}

.green-hover:hover img {
  max-width: 420px;
  transition: .5s;
}

.gold {
  color: rgba(245, 218, 69, 0.92);
}

.gold-hover:hover p {
  color: rgba(245, 218, 69, 0.92);
  transition: .5s;
}

.blue-white {
  color: white;
  text-shadow: 0 0 5px black;
}

.black {
  color: black;
}

.border-1 {
  border: solid 3px white;
  background-color: #105422;
}

/* End of Decoration Section */

/* Header Section */

header {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  position:fixed;
  justify-content: right;
  align-items: center;
  top: 0;
  left: 0;
}

nav > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  padding-right: 10px;
  margin-block: 0;
}

nav > ul > li {
  display: block;
  padding: 30px;
  margin: 0 0.2rem;
  padding-right: 0.4rem;
}

/* End of Header Section */

/* Home Section */

#about-me {
  overflow: hidden;
  margin-top: 50px;
}

#profile-pic {
  width: 100%;
  border-radius: 200px;
}

#intro {
  margin-top: 35px;
  float: right;
  vertical-align: top;
}

#intro > p, i {
  color: rgb(0, 0, 0);
  text-indent: 30px;
}

.fa {
  text-indent: 0px;
}

/* End of Home Section */

/* Projects Section */

.samples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.samples img {
  width: 100%;
  max-width: 380px;
  height:auto;
  padding: 10px;
  border-radius: 20px;
  transition: .5s;
}

.large-img img {
  max-width: 1000px;
}

.wideImg {
  display: block;
  width: 95%;
  margin: auto;
}

/* End of Projects Section */

/* Profile Section */

#contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
}

#profile-link {
  color: yellow;
}

#github-pic {
  max-width: 150px;
  padding-bottom: 32px;
}

#github-info {
  vertical-align: bottom;
  padding-bottom: 2px;
}

/* End of Profile Section */

/* div {
    border: solid brown 5px;
} */

@media screen and (max-width: 1250px) {
  .fourtyPerc {
    width: 100%;
    display: block;
  }
  .fiftyPerc {
    width: 100%;
    display: block;
  }
  .sixtyPerc {
    width: 100%;
    display: block;
  }
  .seventyPerc {
    width: 100%;
    display: block;
  }
  .fourtyPerc3 {
    width: 450px;
  }
  .center2 {
    text-align: left;
  }
  #profile-pic {
    width: 50%;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .indent {
    padding-left: 0;
  }
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
    h2, h4, .lg-text {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
    #intro {
      margin-top: 0;
      float: none;
    }
    .wideImg {
      margin: 0;
    }
    #contact-info > div > .lg-text, #contact-info > div > div > .lg-text {
      font-size: 1em;
    }
    #github-info {
      vertical-align: top;
    }
    #github-pic {
      width: 100px;
      margin-top: 35px;
      margin-right: -20px;
    }
}