@media only screen and (min-width: 600px) {
  h1, h2, h3 {
    font-size: 2rem;
  }
  p {font-size: 1.3rem;}
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #0000008b;
  scroll-behavior: smooth;
}

main {
  padding-bottom: 40px;
}

header {
  width: 100%;
  height: 70px;
  background: black;
  display: flex;
  position:fixed;
  justify-content: right;
  align-items: center;
  top: 0;
  left: 0;
}

#top-anchor {
  width: 0;
  height: 52px;
}

#mid-anchor {
  width: 0;
  height: 50px;
  margin-top: -50px;
}

#bot-anchor {
  width: 0;
  height: 50px;
  margin-top: -50px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background:rgb(87, 231, 231);
  margin: 0;
  border: 8px groove beige;
}

nav > ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  padding-right: 10px;
  margin-block: 0;
}

nav > ul > li {
  display: block;
  padding: 30px;
  margin: 0 0.2rem;
  padding-right: 0.4rem;
}

.samples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.samples img {
  width: 100%;
  max-width: 380px;
  height:auto;
  padding: 10px;
  border-radius: 20px;
  transition: .5s;
}

.large-img img {
  max-width: 1000px;
}

.center {
  text-align: center;
}

h1, h2, h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#profile-link {
  color: yellow;
}

span {
  margin-top: 2px;
}

footer > p {
  display: flex;
  justify-content: right;
  padding-left: 85%;
  max-width: 20%;
  position: relative;
}

a {
  color: white;
}


.fiftyPerc {
  width: 48.5%;
  display: inline-block;
  vertical-align: middle;
}

.seventyPerc {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
}

.sixtyPerc {
  width: 55%;
  display: inline-block;
  vertical-align: middle;
}

.fourtyPerc {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
}

.thirtyPerc {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.inline {
  width: 60%;
  margin: auto;
  align-items: center;
}

#profile-pic {
  width: 100%;
}

#github-pic {
  max-width: 150px;
}

/* div {
    border: solid brown 5px;
} */

.indent {
  padding-left: 100px;
}

.blue {
  color: rgba(40, 40, 247, 0.468);
}

.blue-hover:hover p {
  color:rgba(40, 40, 247, 0.468);
  transition: .5s;
  margin-top: 1.5px;
}

.blue-hover:hover img {
  max-width: 420px;
  transition: .5s;
}

.green {
  color: rgb(12, 179, 12);
}

.green-hover:hover p {
  color: rgb(12, 179, 12);
  transition: .5s;
  margin-top: 1.5px;
}

.green-hover:hover img {
  max-width: 420px;
  transition: .5s;
}

.gold {
  color: rgba(218, 191, 42, 0.92);
}

.gold-hover:hover p {
  color: rgba(218, 191, 42, 0.92);
  transition: .5s;
}

.blue-white {
  color: white;
  text-shadow: 0 0 5px black;
}

.black {
  color: black;
}

.lg-text {
  font-size: 1.6rem;
  margin-top: 7px;
  transition: .5s;
}

.left {
  text-align: start;
}

.ninetyPerc {
  width: 92%;
  margin: auto;
  align-items: left;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#about-me {
  overflow: hidden;
}

#about-me div p:not(.no-indent), i, .fa {
  color: green;
  text-indent: 30px;
}

.fa {
  text-indent: 0px;
  color: green;
}

.tall-box {
  height: 350px;
  align-items: center;
  margin: auto;
  padding-top: 25px;
}

.tall-box img {
  border-radius: 200px;
}

h4 {
  padding-top: 0px;
  font-size: 1.8em;
}

.border-1 {
  border: solid 3px white;
  background-color: beige;
}

.align-right {
  align-items: right;
}

#github {
  padding-left: 80px;
}